body {
    background-color: rgb(253, 251, 251);
    margin: 0px 0px;
}

header {
    background-color: green;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 100px;
}

#titulo {
    margin-top: 0;
}