body {
    background-color: palegreen;
    margin: 0px 0px;
}

header {
    background-color: green;
    position: fixed;
    margin-top: 0;
    width: 100%;
    height: 100px;
}

#titulo {
    margin-top: 0;
    text-align: center;
}

#licoes_aprendidas {
    border: 5px solid black;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    line-height: 30px;
    margin-top: 100px;
    display: inline-block;
    position: absolute;
}

#licoes_a_aprender {
    border: 5px solid black;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 400px;
    line-height: 30px;
    margin-top: 100px;
    display: inline-block;
    position: absolute;
}

h1 {
    font-size: 50px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.lado-esquerdo {
    width: 200px;
    display: inline-block;
}

.lado-direito{
    width: 200px;
    display: inline-block;
    margin-left: 50px;
}

#minha_foto {
    width: 300px;
    margin-top: 100px;
    display: inline-block;
    margin-left: 100px;
    border-radius: 50%;
    border: 5px solid black;
}

#tabela {
    margin-left: 550px;
}

#blocos {
    text-align: center;
}
